@using CurriculumVitae.Common.DTO;
@using EdwardCurtinCurriculumVitae.Services;
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

@if (_cvOwners == null)
{
    <Loading IsVisible=true/>
}
else
{
    if (_cvOwners.Count == 0)
    {
        <p><em>No Records in Database</em></p>
    }
    else
    {
        <table border="0">
            <tr>
                <th><h2>@_cvOwners[0].Name</h2></th>
            </tr>
            <tr>
                <link href="~/css/common.css" rel="stylesheet" />
                <td class="shared-column">@Localize["Address"]</td>
                <td>@_cvOwners[0].Address</td>
            </tr>
            <tr>
                <td class="shared-column">@Localize["DateOfBirth"]</td>
                <td>@_cvOwners[0].DateOfBirth.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="shared-column">@Localize["Email"]</td>
                <td><a href="mailto:@_cvOwners[0].Email">@_cvOwners[0].Email</a></td>
            </tr>
            <tr>
                <td class="shared-column">@Localize["LinkedIn"]</td>
                <td><a href="@_cvOwners[0].LinkedIn">@_cvOwners[0].LinkedIn</a></td>
            </tr>
            <tr>
                <td class="shared-column">@Localize["WorkingModel"]</td>
                <td>@_cvOwners[0].WorkingModel</td>
            </tr>

        </table>
    }
}

@code {
    private List<CVOwnerDto>? _cvOwners;

    [Parameter]
    public List<CVOwnerDto>? CvOwners
    {
        get { return _cvOwners; }
        set
        {
            _cvOwners = value;
        }
    }
}